{
  "env": {
    "browser": true,
    "es2023": true   
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json", "./tsconfig.node.json"]
  },
  "plugins": ["react", "@typescript-eslint", "eslint-plugin-react"],
  "overrides": [
    {
      "files": ["src/**/*.js", "src/**/*.jsx", "src/**/*.ts", "src/**/*.tsx"],
      "rules": {
        "import/extensions": 0,
        "@typescript-eslint/no-use-before-define": "off",
        "import/prefer-default-export": "off",
        "react/react-in-jsx-scope": "off",
        "camelcase": "warn",
        "no-console": "warn",
        "no-multiple-empty-lines": [
          "error",
          {
            "max": 1
          }
        ],
        "prettier/prettier": "error"
      }
    }
  ]
}